#static-site-img {
    width: 100%;
    position: relative;
    
}

body {
    max-width: 1100px;
    /* padding: 0px 30px 30px 30px;  */
    margin:auto;
    background-color: EBEBF0;
}

h1 {
    font-family: "Oxygen", sans-serif;
    font-size:30px;
    color:black;
    font-weight:300;
}
.row {
        padding: 0px 30px 30px 30px; 

}

i {
    font-size: 60px;
}

.carousel {
    color:black;
}

.jumbotron-heading {
    padding: 60px 0px 60px 0px;
}

.section-1,
.section-2,
.section-3 {
    padding:20px 0px 20px 0px;
}

footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}
/* 
carousel-item.active img {
    height:200px !important;
} */

